@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin-ext);
header {
  background: #80c9dd;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 10rem;
  align-items: center;
  height: 10rem;
  width: 100%;
  margin: 0%;
}
header .title-logo {
  width: auto;
  height: 100%;
  margin: 0%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}
header .title-logo img {
  width: 7rem;
  height: 7rem;
  justify-self: center;
  position: relative;
  top: 2rem;
  left: 30%;
}
header .title-logo h5 {
  text-align: center;
  font-weight: 700;
  margin: 1rem;
}
header .title-center {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 5%;
}
header .title-center .title-center-city {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin: 1rem;
}
header .title-center .title-center-city h2 {
  font-size: 4rem;
  font-weight: 900;
  margin: 2rem;
}
header .title-center .title-center-city select {
  align-self: flex-end;
}
header .title-center .title-center-search {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  align-items: flex-start;
}
header nav {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 900;
  margin: 1rem;
}
header nav a {
  height: 5rem;
  width: 6rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(213, 234, 240, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-weight: 900;
  text-decoration: none;
}
header nav .createlisting {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header nav .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav .user-info form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav .user-info form input {
  height: 5rem;
  width: 6rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(213, 234, 240, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  color: black;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
}

footer {
  height: 2.5rem;
  width: 100%;
  background-color: #80c9dd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0%;
}
footer nav a {
  font-weight: 900;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  margin: 0%;
}
footer nav .about {
  width: 12rem;
  margin: 0%;
}
footer nav .contact {
  width: 12rem;
  margin: 0%;
}
footer nav .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-form {
  height: auto;
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(211, 211, 211, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  padding: 2rem;
}

.register {
  height: auto;
  width: 45rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(211, 211, 211, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
}
.register .register-form {
  padding: 0.5rem;
}
.register .register-image img {
  height: 30rem;
  width: 25rem;
}

.create-listing-form {
  height: auto;
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  padding: 2rem;
  font-weight: 900;
}
.create-listing-form input {
  border: solid #62bbd3;
  border-radius: 5px;
  margin: 0.1rem;
  background-color: #80c9dd;
}
.create-listing-form textarea {
  border: solid #62bbd3;
  border-radius: 5px;
  margin: 0.1rem;
}
.create-listing-form select {
  border: solid #62bbd3;
  border-radius: 5px;
  margin: 0.1rem;
}
.create-listing-form button {
  border: solid #62bbd3;
  border-radius: 5px;
  margin-top: 1rem;
}

.offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 80rem;
}
.offers .offer-detail {
  height: auto;
  width: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(211, 211, 211, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 0.5rem;
}
.offers .offer-detail .offer-detail__title {
  margin: 0%;
}

.requests {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 80rem;
}
.requests .request-detail {
  height: auto;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(211, 211, 211, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 0.5rem;
}
.requests .request-detail .request-detail__title {
  margin: 0%;
}

#edituser {
  height: auto;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  padding: 2rem;
}

.listing-detail {
  height: auto;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  padding: 2rem;
}
.listing-detail .listing-detail__comment {
  height: auto;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  padding: 1rem;
}
.listing-detail .listing-detail__comment .comment-detail {
  height: auto;
  width: 16em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  padding: 2rem;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body input {
  font-family: "Open Sans", sans-serif;
}

main {
  flex-grow: 1;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #62bbd3;
  background-image: linear-gradient(30deg, #80c9dd 12%, transparent 12.5%, transparent 87%, #80c9dd 87.5%, #80c9dd), linear-gradient(150deg, #80c9dd 12%, transparent 12.5%, transparent 87%, #80c9dd 87.5%, #80c9dd), linear-gradient(30deg, #80c9dd 12%, transparent 12.5%, transparent 87%, #80c9dd 87.5%, #80c9dd), linear-gradient(150deg, #80c9dd 12%, transparent 12.5%, transparent 87%, #80c9dd 87.5%, #80c9dd), linear-gradient(60deg, #d5eaf0 25%, transparent 25.5%, transparent 75%, #d5eaf0 75%, #d5eaf0), linear-gradient(60deg, #d5eaf0 25%, transparent 25.5%, transparent 75%, #d5eaf0 75%, #d5eaf0);
  background-size: 40px 70px;
  background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}
main .offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 80rem;
}
main .offers .offer-detail {
  height: auto;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 0.5rem;
}
main .offers .offer-detail .offer-detail__title {
  margin: 0%;
}
main .requests {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 80rem;
}
main .requests .request-detail {
  height: auto;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 0.5rem;
}
main .requests .request-detail .request-detail__title {
  margin: 0%;
}

/*# sourceMappingURL=flamel-main.css.map*/