@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin-ext);
header {
  background: #80c9dd;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 10rem;
  align-items: center;
  height: 10rem;
  width: 100%;
  margin: 0%;
}
header .title-logo {
  width: 15%;
  height: 100%;
  margin: 0%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}
header .title-logo img {
  width: 7rem;
  height: 7rem;
  justify-self: center;
  position: relative;
  top: 2rem;
  left: 30%;
}
header .title-logo h5 {
  text-align: center;
  font-weight: 700;
}
header .title-center {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .title-center .title-center-city {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  margin: 1rem;
}
header .title-center .title-center-city h2 {
  font-size: 4rem;
  font-weight: 900;
  margin: 2rem;
}
header .title-center .title-center-city select {
  align-self: flex-end;
}
header .title-center .title-center-search {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  align-items: flex-start;
}
header nav {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 900;
  margin: 1rem;
}
header nav .createlisting {
  margin: 0.5rem;
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px, solid, blue;
}
header nav .createlisting .create-new-listing {
  font-weight: 900;
}
header nav .user {
  margin: 0.5rem;
  height: 6rem;
  width: 10rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header nav a {
  color: black;
  text-decoration: none;
}
header nav a .login {
  align-self: stretch;
  color: black;
  text-decoration: none;
  font-weight: 900;
}

footer {
  height: 7rem;
  width: 100%;
  background-color: #80c9dd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
}
footer nav a {
  font-weight: 900;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
footer nav .about {
  width: 10rem;
}
footer nav .contact {
  width: 10rem;
}

.login-form {
  height: auto;
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(211, 211, 211, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  padding: 2rem;
}

.register {
  height: auto;
  width: 45rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(211, 211, 211, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
}
.register .register-form {
  padding: 0.5rem;
}
.register .register-image img {
  height: 30rem;
  width: 25rem;
}

.create-listing-form {
  height: auto;
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(211, 211, 211, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  padding: 2rem;
  font-weight: 900;
}
.create-listing-form input {
  border: solid #62bbd3;
  border-radius: 5px;
  margin: 0.1rem;
  background-color: #80c9dd;
}
.create-listing-form textarea {
  border: solid #62bbd3;
  border-radius: 5px;
  margin: 0.1rem;
}
.create-listing-form select {
  border: solid #62bbd3;
  border-radius: 5px;
  margin: 0.1rem;
}
.create-listing-form button {
  border: solid #62bbd3;
  border-radius: 5px;
  margin-top: 1rem;
}

.offer-detail {
  height: auto;
  width: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(211, 211, 211, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 0.5rem;
}

.request-detail {
  height: auto;
  width: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(211, 211, 211, 0.7);
  border: 5px solid #62bbd3;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 0.5rem;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

body {
  margin: 0;
}

main {
  height: 63rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #62bbd3;
  background-image: linear-gradient(30deg, #80c9dd 12%, transparent 12.5%, transparent 87%, #80c9dd 87.5%, #80c9dd), linear-gradient(150deg, #80c9dd 12%, transparent 12.5%, transparent 87%, #80c9dd 87.5%, #80c9dd), linear-gradient(30deg, #80c9dd 12%, transparent 12.5%, transparent 87%, #80c9dd 87.5%, #80c9dd), linear-gradient(150deg, #80c9dd 12%, transparent 12.5%, transparent 87%, #80c9dd 87.5%, #80c9dd), linear-gradient(60deg, #d5eaf0 25%, transparent 25.5%, transparent 75%, #d5eaf0 75%, #d5eaf0), linear-gradient(60deg, #d5eaf0 25%, transparent 25.5%, transparent 75%, #d5eaf0 75%, #d5eaf0);
  background-size: 40px 70px;
  background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}

/*# sourceMappingURL=flamel-main.css.map*/