.request-detail{
    height: auto;
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba($color: lightgrey, $alpha: 0.7);
    border: 5px solid #62bbd3;
    border-radius: 30px;
    padding: 0.5rem;
    margin:0.5rem;
}